@page
@model AttachmentModel
@{

}
<script>
    $(function () {
        new MGrid(null, $(`#dataGrid_@AttachmentModel.ModelName`), new AttachmentGridOption('@AttachmentModel.ModelName','System'), null);
    });
</script>
<div id="dataGrid_@AttachmentModel.ModelName"></div>
