@page
@model RecordIdTrackingModel
@{

}
<script>
    $(function () {
        new MGrid(null, $(`#dataGrid_@RecordIdTrackingModel.ModelName`), new MGridOption('@RecordIdTrackingModel.ModelName'), null);
    });
</script>
<div id="dataGrid_@RecordIdTrackingModel.ModelName"></div>
