@page
@model SurveyArchivedModel
@{

}
<script>
    $(function () {
        var mGridOption = new Object();
        mGridOption.isAllowRowMenu = true;
        var mGrid = new MGrid(null, $(`#dataGrid_@(SurveyArchivedModel.ModelName)_Archived`), new SurveyArchivedGridOption('@SurveyArchivedModel.ModelName',"User", mGridOption), null);
        var DS = mGrid.component.getDataSource();
        DS.filter(["isArchived", "=", true]);
        mGrid.component.option("dataSource", DS);
    });
</script>
<div id="dataGrid_@(SurveyArchivedModel.ModelName)_Archived"></div>
