@page
@model StepsWorkflowModel
@{

}
<script>
    $(function () {
        new MGrid(null, $(`#dataGrid_@StepsWorkflowModel.ModelName`), new StepsWorkflowGridOption('@StepsWorkflowModel.ModelName'), null);
    });
</script>
<div id="dataGrid_@StepsWorkflowModel.ModelName"></div>
