@page "{pageNum:int?}"
@model StepsWorkflow_FormModel
@{


}
<script>
    $(function () {
        var _id = @Convert.ToInt32(ViewData["Id"]);

        var _formConfig = new MFormOption();
        _formConfig.cloneUrl = '/Business/MasterData/StepsWorkflow_Form/' + _id;
        _formConfig.tabCode = `form_StepsWorkflow_Form_${_id}`;
        _formConfig.tabName = '@HttpContext.Request.Query["Caption"].ToString()';
        _formConfig.originModelName = "@StepsWorkflow_FormModel.ModelName";
        _formConfig.formElementName = "@StepsWorkflow_FormModel.ModelName";
        _formConfig.schemeBasedOn = `@(StepsWorkflow_FormModel.SchemeModelName)`;
        _formConfig.allowFormActionButton = true;
        _formConfig.colCount = 4;
        _formConfig.isCustomQuery = true;
        new StepsWorkflowForm(_id, null, _formConfig);
    });
</script>
<div id="form_@(StepsWorkflow_FormModel.ModelName)_@Convert.ToInt32(ViewData["Id"])" class="dExForm"></div>

