@page
@model SurveyActionConfigModel
@{

}
<script>
    $(function () {
        new MGrid(null, $(`#dataGrid_@SurveyActionConfigModel.ModelName`), new MGridOption('@SurveyActionConfigModel.ModelName', "System"), null);
    });
</script>
<div id="dataGrid_@SurveyActionConfigModel.ModelName"></div>
