@page
@model SurveyWorkflowModel
@{

}
<script>
    $(function () {
        new MGrid(null, $(`#dataGrid_@SurveyWorkflowModel.ModelName`), new SurveyWorkflowGridOption('@SurveyWorkflowModel.ModelName'), null);
    });
</script>
<div id="dataGrid_@SurveyWorkflowModel.ModelName"></div>
