@page "{refPageNum:int?}/{pageNum:int?}/{jsonConfig?}"
@model Survey_SitePictures_FormModel
@{
    Layout = null;
}
<script>

    $(function () {
          var _id = @Convert.ToInt32(ViewData["Id"]);
        var _fkId = @Convert.ToInt32(ViewData["Id"]);
          var _jsonConfig = '@Html.Raw(ViewData["JsonConfig"])';
          var _surveyData = new Object();
          if (_jsonConfig) _surveyData = JSON.parse(_jsonConfig);
          var _formConfig = new MFormOption();
          _formConfig.cloneUrl = '/Business/Form/SurveyDetail/Survey_SitePictures_Form/' + _id;
          _formConfig.tabCode = 'Survey_SitePictures_Form';
          _formConfig.tabName = "";
          _formConfig.fieldsFilterByTab = "SitePictures";
          _formConfig.allowFormActionButton = false;
          _formConfig.originModelName = "@Survey_SitePictures_FormModel.ModelName";
          _formConfig.formElementName = "Survey_SitePictures_Form";
          _formConfig.colCount = 1;
          _formConfig.labelLocation = "top";
          _formConfig.schemeBasedOn = `@(Survey_SitePictures_FormModel.SchemeModelName)`;
          _formConfig.refFieldId = _fkId;
          _formConfig.refFieldName = `@(Survey_SitePictures_FormModel.FKModelName)Id`;
          _formConfig.isChildForeignKey = true;
          _formConfig.sameRefKeyAsId = true;
        _formConfig.outlineForm = { isUse: true, surveyTypeId: _surveyData.surveyTypeId, isOutlineChecked: false };
        _formConfig.isReadOnly = _surveyData.isReadOnly;
        new SitePicturesForm(_id, null, _formConfig, _formConfig);
    });
</script>
<div id="form_Survey_SitePictures_Form_@Convert.ToInt32(ViewData["Id"])"></div>

