@page "{refPageNum:int?}/{pageNum:int?}/{jsonConfig?}"
@model Survey_PosNegAspect_FormModel
@{
    Layout = null;
}
<script>


    $(function () {
        var _id = @Convert.ToInt32(ViewData["Id"]);
        var _fkId = _id;
        var _formConfig = new MFormOption();
        // _formConfig.cloneUrl = '/Business/Form/SurveyDetail/Survey_PosNegAspect_Form/' + _id;
        // _formConfig.tabCode = 'Survey_PosNegAspect_Form';
        // _formConfig.tabName = "";
        _formConfig.fieldsFilterByTab = "PosNegAspect";
        _formConfig.allowFormActionButton = false;
        _formConfig.originModelName = "@Survey_PosNegAspect_FormModel.ModelName";
        // _formConfig.schemeBasedOn = "@Survey_PosNegAspect_FormModel.FKModelName";
        _formConfig.schemeBasedOn = "@Survey_PosNegAspect_FormModel.SchemeModelName";
        _formConfig.formElementName = "Survey_PosNegAspect_Form";
        _formConfig.colCount = 1;
        _formConfig.refFieldId = _fkId; 
        _formConfig.refFieldName = `@(Survey_PosNegAspect_FormModel.FKModelName)Id`;
        _formConfig.sameRefKeyAsId = true;
        _formConfig.isAllowAddOutline = false;
        new PNAspectForm(_id, null, _formConfig);
    });
</script>
<div>
    <div style="margin-top: 10px;">During the survey time, we noted that the premise has positive and negative points which recorded as following:</div>
    @* <div id="form_Survey_PosNegAspect_Form_@(Convert.ToInt32(ViewData["FKId"]))_@(Convert.ToInt32(ViewData["FKId"]))"> *@
    <div id="form_Survey_PosNegAspect_Form_@(Convert.ToInt32(ViewData["Id"]))">
    </div>
</div>

