@page "{pageNum:int?}/{jsonConfig?}"
@model Survey_Overview_FormModel
@{
    Layout = null;
}
<script>

    $(function () {
          var _id = @Convert.ToInt32(ViewData["Id"]);
          var _jsonConfig = '@Html.Raw(ViewData["JsonConfig"])'; 
        var _surveyData = new Object(); 
        if (_jsonConfig) _surveyData = JSON.parse(_jsonConfig);
          var _formConfig = new Object();
          _formConfig.cloneUrl = '/Business/Form/SurveyDetail/Survey_Overview_Form/' + _id;
          _formConfig.tabCode = 'Survey_Overview_Form';
          _formConfig.tabName = "";
          _formConfig.fieldsFilterByTab = "Overview";
          _formConfig.allowFormActionButton = false;
          _formConfig.originModelName = "@Survey_Overview_FormModel.ModelName";
          _formConfig.formElementName = "Survey_Overview_Form";
        _formConfig.outlineForm = {isUse: true, surveyTypeId: _surveyData.surveyTypeId, isOutlineChecked: false };
        _formConfig.overViewAttachmentId = _surveyData.overViewAttachmentId;
        _formConfig.isReadOnly = _surveyData.isReadOnly;
        // _formConfig.isAddOutline = _id ? true : (_surveyData.draftSession ? true : false);        
         _formConfig.isAddOutline = _id ? true : false;
         if (_surveyData.draftCloneSurveyId)
            _formConfig.draftCloneSurveyId=   _surveyData.draftCloneSurveyId;
        var mFormOption = new OverViewFormOption(_formConfig);
        new OverviewForm(_id, null, _formConfig, mFormOption);
    });
</script>
<div id="form_Survey_Overview_Form_@Convert.ToInt32(ViewData["Id"])"></div>

