.log-page{

    height:100vh;

    background:#0f172a;

    color:white;

    padding:20px;

    box-sizing:border-box;

    font-family:
       "Segoe UI",
       sans-serif;

}



.log-toolbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:15px;

}


.log-toolbar h2{

    margin:0;

}



.log-toolbar input{

    width:300px;

    padding:10px;

    border-radius:8px;

    border:1px solid #334155;

    background:#020617;

    color:white;

}



.log-table{

    height:calc(100vh - 110px);

    overflow:auto;

    background:#020617;

    border-radius:12px;

}



.log-head,
.log-row{

    display:grid;

    grid-template-columns:
      180px
      120px
      1fr
      120px;


    padding:14px;

    border-bottom:
      1px solid #1e293b;

}



.log-head{

    position:sticky;

    top:0;

    background:#111827;

    font-weight:bold;

}



.log-row{

    cursor:pointer;

    transition:.2s;

}


.log-row:hover{

    background:#1e293b;

}



/* level color */


.log-row.Error{

    border-left:
      5px solid #ef4444;

    background:
      linear-gradient(
       90deg,
       #450a0a,
       transparent
      );

}



.log-row.Warning{

    border-left:
      5px solid #facc15;

}



.log-row.Information{

    border-left:
      5px solid #22c55e;

}




.badge{

    padding:5px 12px;

    border-radius:20px;

    font-size:12px;

}



.badge.Error{

    background:#dc2626;

}


.badge.Warning{

    background:#ca8a04;

}


.badge.Information{

    background:#16a34a;

}




.detail{

    grid-column:
      1 / -1;

    background:#111827;

    margin-top:15px;

    padding:15px;

    border-radius:10px;

}



.detail pre{

    white-space:pre-wrap;

    background:#020617;

    padding:15px;

    border-radius:8px;

    overflow:auto;

}