@page
@model ConstructionInfoModel
@{

}
<script>
    $(function () {
        new MGrid(null, $(`#dataGrid_@ConstructionInfoModel.ModelName`), new ConstructionInfoGridOption('@ConstructionInfoModel.ModelName'), null);
    });
</script>
<div id="dataGrid_@ConstructionInfoModel.ModelName"></div>
