@page "{pageNum:int?}"
@model LossControl_FormModel
@{


}
<script>
    $(function () {
        var _id = @Convert.ToInt32(ViewData["Id"]);
        var _formConfig = new MFormOption();
        _formConfig.originModelName = "@LossControl_FormModel.ModelName";
        _formConfig.formElementName = "@LossControl_FormModel.ModelName";
        _formConfig.allowFormActionButton = true;
        _formConfig.colCount = 1;
        new MForm(_id, null, _formConfig);
        // var form = new MForm(null, '@LossControl_FormModel.ModelName');
         $(`#downloadSurveyForm_${_id}`).dxButton(
             {
                 // visible: _id ? true : false,
                 visible: true,
                 text: 'Download Report',
                 onClick: function () {
                     $.ajax({
                         url: `/api/LossControl/DownloadPowerpoint/${_id}`,
                         type: "GET",
                         // headers: {
                         //     "Accept": "*/*",
                         //     "Accept-Language": "en-US,en;q=0.9",
                         //     "Content-Type": "application/json",
                         //     "X-Requested-With": "XMLHttpRequest"
                         // },
                         contentType: 'application/vnd.openxmlformats-officedocument.presentationml.presentation',
                         xhrFields: {
                             responseType: 'blob'
                         },
                         //data: JSON.stringify(cloneAndCleanObject(surveyData)),
                         success: function (blob) {
                             if (blob.size === 0) {
                                 appNotifyWarning(`The file is empty and cannot be downloaded.`);
                             }
                             else {
                             const url = window.URL.createObjectURL(blob);
                             const a = document.createElement('a');
                             a.href = url;
                             a.download = `download.pptx`;
                             document.body.appendChild(a);
                             a.click();
                             a.remove();
                             window.URL.revokeObjectURL(url);
                             }

                         },
                         error: function (error) {
                             UserGuideExceptionHandle(error);
                             console.error("Error generating Word document:", error);
                         }
                     });
                 }
             }
         );
    });
</script>
<div id="form_@(LossControl_FormModel.ModelName)_@Convert.ToInt32(ViewData["Id"])"></div>
<div id="stickyBar_@Convert.ToInt32(ViewData["Id"])" style="padding:10px 0; text-align:right; width: 100%">
    <div id="downloadSurveyForm_@Convert.ToInt32(ViewData["Id"])" class="btn btn-warning" style="padding:10px 20px; font-size:12px;"></div>
</div>

