@page
@model EnumDataModel
@{

}
<script>
    $(function () {
        new MGrid(null, $(`#dataGrid_@EnumDataModel.ModelName`), new MGridOption('@EnumDataModel.ModelName', "System"), null);
    });
</script>
<div id="dataGrid_@EnumDataModel.ModelName"></div>
