<?xml version="1.0" encoding="utf-8" ?>
<!--<configuration>
  <appSettings>
    <add key="LogConnection" value="Persist Security Info=True;Server=.\\SQLSERVER2022;Database=RESurveyToolLog;uid=sa;pwd=password@123;Connection Timeout=60;MultipleActiveResultSets=true;TrustServerCertificate=True" />
  </appSettings>
</configuration>-->

<configuration>
	<connectionStrings>
		<add name="LogConnection"
             connectionString="Persist Security Info=True;Server=.\\SQLSERVER2022;Database=RESurveyToolLog;uid=sa;pwd=password@123;Connection Timeout=60;MultipleActiveResultSets=true;TrustServerCertificate=True"
             providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
