@page
@model Location_FormModel
@{


}
<script>
    $(function () {
        var form = new MForm(null, '@Location_FormModel.ModelName');
    });
</script>
<div id="form_@Location_FormModel.ModelName"></div>

