@page "{refPageNum:int?}/{pageNum:int?}/{jsonConfig?}"
@model Outline_FormModel
@{

}
<script>

    $(function () {
        var outlineOptions = [];
          var _id = @Convert.ToInt32(ViewData["Id"]);
          var _fkId = @Convert.ToInt32(ViewData["FKId"]);
                  if (_fkId)
              $.ajax({
              url: `api/SurveyOutlineOptions/GetFKMany?fkId=${_fkId}&fkField=SurveyId`,
                  type: 'GET',
                  async: false,
                  success: function (response) {
                      outlineOptions = response;
                  },
                  error: function (exception) {
                  }
              });
          var _jsonConfig = '@Html.Raw(ViewData["JsonConfig"])'; 
          var _outlineData = new Object();
        if (_jsonConfig) _outlineData = JSON.parse(_jsonConfig);
          var _formConfig = new Object();
          _formConfig.allowFormActionButton = false;
          _formConfig.originModelName = "@Outline_FormModel.ModelName";
          _formConfig.formElementName = "Outline_Form";
          _formConfig.colCount = 1;
          _formConfig.labelLocation = "top";
          _formConfig.schemeBasedOn = `@(Outline_FormModel.SchemeModelName)`;
          _formConfig.refFieldId = _fkId;
          _formConfig.refFieldName = `@(Outline_FormModel.FKModelName)Id`;
          _formConfig.isChildForeignKey = true;
          
          // _formConfig.outlineForm = {isUse: true, surveyTypeId: _surveyData.surveyTypeId, outlineOptions: outlineOptions, isOutlineChecked: true };
        _formConfig.isAllowAddOutline = false;
        _formConfig.parentOutlineId = _outlineData.parentOutlineId;
        _formConfig.surveyTypeId = _outlineData.surveyTypeId;
        var mFormOption = new OutlineFormOption(_formConfig);
        new OutlineForm(_id, null, _formConfig, mFormOption, mFormOption);
        // new OutlineForm(_id, null, _formConfig);
    });
</script>
<div id="form_Outline_Form_@(Convert.ToInt32(ViewData["FKId"]))_@(Convert.ToInt32(ViewData["Id"]))"></div>

